<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Visual EPI</title>
    <link href="{{ url_for('static', path='/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/select2.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/app.css') }}">
  </head>
  <body>
    <header class="bg-dark-subtle">
      <div class="container">
        <div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">            
            <span class="fs-4">Visual EPI</span>
          </a>    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Relatórios</a></li>
            <li class="nav-item"><a href="/importar-arquivo" class="nav-link">Importar Arquivo</a></li>          
          </ul>
        </div>      
      </div>    
    </header>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div class="border-round row-state" style="position: relative">
              <div id="map-container"></div>
              <a id="btn-back" style="position: absolute; top: 12px; left: 24px; display: none;" onclick="printMapChart()" href="#">Voltar</a>
            </div>
          </div>
          <div class="col-6">
            <form id="chart-form">
              <div class="row">
                  <div class="col-6">                                                
                    <div class="mb-3">
                      <select id="input-regions" class="select2 form-select"></select>
                    </div>
                  </div>
                  <div class="col-6">                      
                      <div class="mb-3">
                        <select id="input-states" class="select2 form-select"></select>
                      </div>
                  </div>
                  <div class="col-6">
                    <div class="mb-3">
                      <select id="input-cities" class="select2 form-select"></select>
                    </div>
                  </div>
                  <div class="col-6">
                      <div class="mb-3">
                        <select id="input-years" class="select2 form-select"></select>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="large-12 columns">
                      <canvas class="large-12 columns" id="bars-chart-container" style="height:450px"></canvas>
                  </div>
              </div>
          </form>
          </div>
        </div>
      </div>
        <div class="container">
            <div class="row">
                <div class ="col-6">
                    <canvas id = 'chart-doughnut' style="height:400px;width:400px"></canvas>
                </div>
            </div>
        </div>

    </main>
    <script src="{{ url_for('static', path='/js/vendor/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/functions.js') }}"></script>
    <script src="{{ url_for('static', path='/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/indexed-data.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/vaccines.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/regions.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/states.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/cities.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/years.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/countries/br.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/ac.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/al.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/ap.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/am.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/ba.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/ce.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/df.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/es.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/go.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/ma.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/mt.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/ms.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/mg.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/pa.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/pb.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/pr.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/pe.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/pi.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/rj.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/rn.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/rs.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/ro.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/rr.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/sc.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/sp.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/se.js') }}"></script>
    <script src="{{ url_for('static', path='/js/data/geometry/states/to.js') }}"></script>
    <script src="{{ url_for('static', path='/js/vendor/chart.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/vendor/highmaps.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/vendor/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/vendor/what-input.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/vendor/foundation.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/vendor/select2.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/app.js') }}"></script>
  </body>
</html>