<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Visual EPI - Importar arquivo</title>
    <link href="{{ url_for('static', path='/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/app.css') }}">
  </head>
  <body>
    <header class="bg-dark-subtle">
      <div class="container">
        <div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">            
            <span class="fs-4">Visual EPI</span>
          </a>    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Relatórios</a></li>
            <li class="nav-item"><a href="/importar-arquivo" class="nav-link">Importar Arquivo</a></li>          
          </ul>
        </div>      
      </div>    
    </header>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="border-round" style="position: relative">
              <div class="row">
                <div class="col-6">
                  <h3>
                    Importar bases de dados
                  </h3>
                  <div id="alert-upload-file" style="display: none" class="alert mt-3 w-75" role="alert"></div>
                  <div class="w-75 mb-4">
                    <div class="mb-3">
                      <label for="input-file-upload" class="form-label">Arquivo (suportado somente no formato XLSX)</label>
                      <input class="form-control" type="file" id="input-file-upload" accept=".xlsx">
                    </div>
                    <button class="btn btn-outline-primary me-2" id="btn-submit-file" disabled>Enviar</button>
                    <a class="btn btn-outline-primary" href="/default-xlsx-model" download>Baixar modelo padrão</a>
                  </div>
                </div>
                <div class="col-6">
                  <p>
                    A plataforma Visual EPI possibilita o envio de bases de dados de quaisquer enfermidades.
                    As fontes de dados devem possuir as seguintes informações/colunas para serem salvas na plataforma:
                    <ul>
                      <li>
                        Identificação da enfermidade por nome/apelido
                      </li>
                      <li>
                        Municipio referente aos casos
                      </li>
                      <li>
                        Data em que foram coletados os casos
                      </li>
                      <li>
                        Número de casos relatados
                      </li>
                    </ul>
                  </p>
                  <p>
                    Ao enviar a fonte de dados, a plataforma espera receber um arquivo no formato XLSX com um padrão predefinido de colunas.
                    Esse padrão é acessível a partir do arquivo modelo padrão, que recomendamos utilizá-lo como estrutura para preencher as informações.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="{{ url_for('static', path='/js/vendor/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/functions.js') }}"></script>
    <script src="{{ url_for('static', path='/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/vendor/chart.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/vendor/highmaps.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/vendor/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/vendor/what-input.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/vendor/foundation.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/upload_file.js') }}"></script>
  </body>
</html>